<!DOCTYPE html> {% load staticfiles pages_tags mezzanine_tags %}
<html lang="en">
{% block head %}

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}" />
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet/less" href="{% static 'less/style.less' %}">
    <link rel="stylesheet/less" href="{% static 'less/custom.less' %}">
    <script src="{% static 'js/less.min.js' %}" type="text/javascript"></script>
    <!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		</a>
		</div>
		<![endif]-->
    <!--[if lt IE 9]>
		<script src="/static/js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="/static/css/ie.css">
		<link rel="stylesheet" media="screen" href="/static/css/ie.css">

		<![endif]-->
</head>
{% endblock head %}

<body class="page1">
    <!--==============================header=================================-->
    <header>
        <div class="container_24">
            <article class="grid_6">
                <h1><a class="logo" href="/"><img src="/static/images/logo.png" alt="Logo"></a></h1>
            </article>
            <article class="grid_4">
                <div class="head-box1">
                    TODO
                </div>
            </article>
            <article class="grid_6 prefix_3">
                <div class="head-box1 p6">
                    <a style="font-size: 14px;" href="#"><strong>Lorem Ipsum</strong></a>
                    <br>
                    <a style="font-size: 14px;" href="#"><strong>Lorem Ipsum</strong></a>
                </div>
            </article>
            <article class="grid_5 push_3">
                <div class="head-box2">
                    <span><a class="custom_hyperlink" href="#">Lorem Ipsum</a></span>
                    <span><a class="custom_hyperlink" href="#">Lorem Ipsum</a></span>
                </div>
            </article>
            <div class="clear"></div>
            <div class="grid_24">
                <div class="head-line"></div>
            </div>
        </div>
        {% block slider %} {% endblock slider %}
        <div class="container_24">
            <div class="grid_24 rel">
                <nav class="{% block nav_class %}p13{% endblock %} horizontal-nav full-width horizontalNav-notprocessed">
                    {% page_menu "pages/menus/dropdown.html" %}
                    <div class="clear"></div>
                </nav>
            </div>
        </div>
    </header>
    {% block main %} {% endblock main %}
</body>

</html>
