@error-color: #a94442;
@orange : #e4814b;
@red : #d54e40;


body {
    font-size: 14px;
}
input[type="text"], textarea, select {
    box-sizing: border-box;
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea {
    height: auto;
}
input[type="text"]:focus, textarea:focus, select:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
label {
    color: #333;
    display:inline-block;
    max-width:100%;
    margin-bottom:5px;
    font-weight:700;
}
input[type=search] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
input[type=checkbox],input[type=radio] {
    margin:4px 0 0;
    margin-top:1px\9;
    line-height:normal;
}
input[type=file] {
    display:block;
}
input[type=range] {
    display:block;
    width:100%;
}
select[multiple],select[size] {
    height:auto;
}
input[type=file]:focus,input[type=checkbox]:focus,input[type=radio]:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}
.alert-danger {
    color: @error-color;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-primary:hover {
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}
.btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}
input[type="checkbox"], input[type="radio"] {
    margin-left: -20px;
    position: absolute;
}
li {
    & > label {
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 5px;
        min-height: 20px;
        padding-left: 20px;
    }
}
.booleanfield {
    & > input[type="checkbox"] {
        position: relative;
        margin: 0 5px 0 0;
        float: left;
    }
    & > .control-label {
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
        min-height: 20px;
    }
}
button.button-as-link {
  text-decoration:underline;
  color:@orange;
  text-transform:uppercase;
  font-weight:bold;
  transition:all 0.4s ease 0s;
  font-size:12px;
  line-height:15px;
  font-family:'Open Sans', sans-serif;
    outline: none;
  box-shadow: none;
  background: none;
  border: none;
}

.has-error input[type="text"], .has-error textarea, .has-error select {
    border-color: @error-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.has-error input[type="text"]:focus, .has-error textarea:focus, .has-error select:focus {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.has-error input[type="checkbox"], .has-error input[type="radio"], .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: @error-color;
}
.has-error > ul > li > label {
    color: @error-color;
}