@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import url(//fonts.googleapis.com/css?family=Open+Sans:700,800);

@orange : #e4814b;
@red : #d54e40;
@grey-text : #b2b2b2;


body {
  background:#f6f6f6;
  font:13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#b2b2b2;
  position:relative;
  min-width:980px;
  height:100%;
}
* {
  -webkit-text-size-adjust:none;
}
html {
  height:100%;
}
p {
  padding-bottom:18px;
}
a {
  color:@orange;
  outline:none;
  cursor:pointer;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
h1 {
  line-height:1.3em;
  color:#323232;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  margin-bottom:26px;
  letter-spacing:1px;
  font-size:28px;
}
h2 {
  line-height:1.3em;
  color:#323232;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  margin-bottom:26px;
  letter-spacing:1px;
  font-size:26px;
}
h3 {
  line-height:1.3em;
  color:#323232;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  margin-bottom:26px;
  letter-spacing:1px;
  font-size:24px;
}
h4 {
  line-height:1.3em;
  color:#323232;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  margin-bottom:26px;
  letter-spacing:1px;
  font-size:22px;
}
h5 {
  line-height:1.3em;
  color:#323232;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  margin-bottom:26px;
  letter-spacing:1px;
  font-size:20px;
}
h6 {
  line-height:1.3em;
  color:#323232;
  font-family:'Open Sans', sans-serif;
  text-transform:uppercase;
  margin-bottom:26px;
  letter-spacing:1px;
  font-size:18px;
}
.extra-wrap {
  overflow:hidden;
  display:block;
}
.fleft {
  float:left;
}
.fright {
  float:right;
}
.alignright {
  text-align:right;
}
.aligncenter {
  text-align:center;
}
.alignmiddle * {
  vertical-align:middle;
}
.color1 {
  color:#ff2100;
}
.main {
  padding:0;
  position:relative;
  margin:0 auto;
}
.last1 {
  margin-bottom:0 !important;
}
.last2 {
  padding-bottom:0 !important;
}
.wrapper {
  width:100%;
  overflow:hidden;
}
.p1 {
  margin-bottom:8px;
}
.p2 {
  margin-bottom:15px;
}
.p3 {
  margin-bottom:30px;
}
.p4 {
  margin-bottom:40px;
}
.p5 {
  margin-bottom:50px;
}
.reg {
  text-transform:uppercase;
}
.title {
  margin-bottom:18px !important;
}
.it {
  font-style:italic;
}
.letter {
  letter-spacing:-1px;
}
.margin-bot {
  margin-bottom:35px;
}
.spacing {
  margin-right:35px;
}
.indent {
  padding:0 0 0px 30px;
}
.indent2 {
  padding-left:50px;
}
.indent-bot {
  margin-bottom:20px;
}
.indent-bot2 {
  margin-bottom:30px;
}
.indent-bot3 {
  margin-bottom:45px;
}
.img-indent-bot {
  margin-bottom:25px;
}
.img-indent {
  float:left;
  margin:0 20px 0px 0;
}
.img-indent2 {
  float:left;
  margin:0 13px 0px 0;
}
.img-indent-r {
  float:right;
  margin:0 0px 0px 40px;
}
.prev-indent-bot {
  margin-bottom:10px;
}
.buttons a:hover {
  cursor:pointer;
}
.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.logo {
  display:block;
  img {
    max-width:100%;
  }
}
header {
  width:100%;
  position:relative;
  z-index:2;
  background:#ffffff;
  h1 {
    padding:38px 0 0;
    margin:0 0 0 -1px;
    font-size:0;
    line-height:0;
  }
}
.head-box1 {
  color:#b8b8b8;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:14px;
  padding-top:55px;
  text-transform:uppercase;
}
.p6 {
  padding-top:26px !important;
}
.head-box2 {
  overflow:hidden;
  padding-top:39px;
}
.text1 {
  display:block;
  color:@red;
  font-size:24px;
  font-weight:bold;
  white-space:nowrap;
  line-height:29px;
}
.text2 {
  display:inline-block;
  color:#b8b8b8;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:14px;
  text-transform:uppercase;
}
.link1 {
  color:#222222;
  transition:all 0.4s ease 0s;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:14px;
  text-transform:uppercase;
}
.link1:hover {
  color:@red;
  text-decoration:none;
}
.head-line {
  margin:19px auto 0;
  background:@red;
  height:3px;
}
#content {
  width:100%;
  padding:48px 0 41px;
  background:#ffffff;
  position:relative;
  z-index:1;
}
.p14 {
  padding:6px 0 39px !important;
}
.page1-box1 {
  overflow:hidden;
  border-bottom:3px solid #d96c31;
  background:@orange;
}
.inner1 {
  border-right:1px solid #d96c31;
  color:#ffffff;
  float:left;
  padding:38px 15px 30px 37px;
  transition:background 0.4s ease 0s;
  width:188px;
  p {
    padding-bottom:14px;
  }
}
.inner1:hover {
  background:#d96c31;
}
.link2 {
  text-decoration:underline;
  color:#ffffff;
  text-transform:uppercase;
  font-weight:bold;
  font-size:12px;
  line-height:15px;
  font-family:'Open Sans', sans-serif;
}
.link2:hover {
  text-decoration:none;
}
.link3 {
  text-decoration:underline;
  color:@orange;
  text-transform:uppercase;
  font-weight:bold;
  transition:all 0.4s ease 0s;
  font-size:12px;
  line-height:15px;
  font-family:'Open Sans', sans-serif;
}
.link3:hover {
  color:@grey-text;
}
.text3 {
  color:#ffffff;
  font-size:19px;
  line-height:20px;
  font-family:'Open Sans', sans-serif;
  font-weight:bold;
  display:block;
  text-transform:uppercase;
  margin-bottom:18px;
}
.last4 {
  border:none !important;
  width:175px;
}
.p9 {
  line-height:24px;
}
.p10 {
  color:@orange;
}
.p11 {
  margin-bottom:46px;
}
.text4 {
  margin-bottom:14px;
  display:block;
  color:#323232;
}
.page1-img1 {
  padding:6px 0 4px;
}
.p12 {
  display:inline-block;
  margin-top:17px;
}
.text5 {
  color:@red;
  display:block;
  font-size:18px;
  font-weight:bold;
  font-family:'Open Sans', sans-serif;
  letter-spacing:1px;
  line-height:22px;
  text-transform:uppercase;
}
.text7 {
  color:#323232;
  font-size:12px;
  float:left;
  display:block;
  line-height:23px;
}
.page1-box2 {
  overflow:hidden;
  margin-bottom:23px;
}
.p36 {
  line-height:18px;
}
.list1 a {
  color:@orange;
  font-size:13px;
  font-weight:bold;
  transition:all 0.4s ease 0s;
  line-height:18px;
}
.list1 a:hover {
  color:@grey-text;
  text-decoration:none;
}
.list1 li {
  background:url("../images/marker1.png") no-repeat scroll 0 5px transparent;
  display:block;
  line-height:16px;
  padding-bottom:8px;
  padding-left:15px;
}
.p33 {
  padding-bottom:16px;
}
.link4 {
  color:@red;
}
.banner1 {
  border:1px solid #dadada;
  margin-top:26px;
  padding:16px 0 21px 21px;
  span {
    color:#323232;
    display:block;
    font-family:'Covered By Your Grace', cursive;
    font-size:30px;
    line-height:27px;
    margin-bottom:5px;
  }
  strong {
    color:@orange;
    display:block;
    font-family:'Open Sans', sans-serif;
    font-size:14px;
    letter-spacing:1px;
    line-height:17px;
    text-transform:uppercase;
  }
  i {
    color:@orange;
    display:block;
    font-family:'Open Sans', sans-serif;
    font-size:19px;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    line-height:23px;
  }
}
.page2-img1 {
  margin-bottom:21px;
  padding-top:2px;
}
.text6 {
  color:#323232;
}
.p15 {
  margin-bottom:24px;
}
.p16 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:30px;
  padding-bottom:33px;
}
.p17 {
  margin-bottom:22px;
}
.p18 {
  margin-bottom:4px;
}
.page2-box1 {
  overflow:hidden;
  margin-bottom:24px;
}
#newsletter {
  padding-top:4px;
  position:relative;
  .success {
    background:none repeat scroll 0 0 #ffffff;
    border:1px solid #000000;
    color:#333333;
    display:none;
    left:0;
    padding:7px 0 7px 4px;
    position:absolute;
    top:4px;
    width:224px;
    z-index:10;
  }
  label.invalid .error {
    height:19px;
  }
  .error {
    color:#ff0000;
    display:block;
    font-size:10px;
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:35px;
    transition:all 0.3s ease-out 0s;
  }
  input {
    background:none repeat scroll 0 0 transparent;
    border:1px solid #dadada;
    box-shadow:none;
    color:@grey-text;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:13px;
    margin:0 0 21px;
    outline:medium none;
    padding:6px 12px 8px;
    width:204px;
  }
}
.p20 {
  padding:3px 0 41px !important;
}
.p21 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:32px;
  padding-bottom:24px;
}
.p22 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:33px;
  padding-bottom:10px;
}
.p23 {
  padding-top:2px;
}
.page3-img1 {
  float:left;
  margin-right:20px;
  padding-top:3px;
}
.p24 {
  padding-right:32px;
}
.page3-img2 {
  float:left;
  margin-bottom:22px;
  margin-right:20px;
  padding-top:3px;
}
.page3-box1 {
  overflow:hidden;
  margin-bottom:10px;
}
.page3-img3 {
  padding-top:3px;
  margin-bottom:22px;
}
.page4-img1 {
  margin-bottom:22px;
}
.p25 {
  margin-top:-3px;
  margin-bottom:24px;
}
.p26 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:30px;
  padding-bottom:33px;
}
.page4-img2 {
  float:left;
  margin-right:20px;
  padding-top:3px;
}
.link5 {
  color:@red;
  font-size:18px;
  font-weight:bold;
  transition:all 0.4s ease 0s;
  letter-spacing:2px;
  line-height:19px;
  text-transform:uppercase;
}
.link5:hover {
  color:@grey-text;
  text-decoration:none;
}
.page4-box1 {
  overflow:hidden;
  margin-bottom:28px;
}
.p27 {
  margin-bottom:21px;
}
.p28 {
  margin-bottom:20px;
  margin-top:-3px;
}
.p29 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:32px;
  padding-bottom:25px;
}
.p30 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:32px;
  padding-bottom:35px;
}
.p32 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:31px;
  padding-bottom:35px;
}
.page5-img1 {
  float:left;
  padding-top:4px;
  margin-right:20px;
}
.p34 {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:32px;
  padding-bottom:27px;
}
.page6-img1 {
  margin-bottom:26px;
}
.rel {
  position:relative;
}
footer {
  width:100%;
  background:#f6f6f6;
  border-top:3px solid #eaeaea;
  padding:30px 0 30px;
}
.list2 {
  padding-top:9px;
  a {
    color: @orange;
    transition:all 0.4s ease 0s;
    font-size:13px;
  }
  a:hover {
    color:@grey-text;
    text-decoration:none;
  }
  li {
    background:url("../images/marker1.png") no-repeat scroll 0 5px transparent;
    display:block;
    line-height:16px;
    padding-bottom:8px;
    padding-left:13px;
  }
}
.foot-page1 {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  font-family:'Open Sans', sans-serif;
  color:#b2b2b2;
  a {
    color:@grey-text;
    transition:all 0.4s ease 0s;
  }
  a:hover {
    color:@red;
    text-decoration:none;
  }
}
#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:180px;
  left:50%;
  margin-left:550px;
  overflow:hidden;
  width:41px;
  height:21px;
  border:none;
  text-indent:-999px;
  z-index:20;
  background:url(../images/ui.totop.png) no-repeat left top;
  transition:0s ease;
  -o-transition:0s ease;
  -webkit-transition:0s ease;
}
#toTop:hover {
  outline:none;
  background-position:0 bottom;
}
.ff_right {
  float:right !important;
}
figure iframe {
  height:302px;
}
