@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:800);
.various:hover img {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}

.ie_nowrp {
	display: block;
	letter-spacing: -1px;
}