/**/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import url(//fonts.googleapis.com/css?family=Open+Sans:700,800);


body{
	background:#f6f6f6;
	font:13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	position:relative;
	min-width:980px;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


html,body{height:100%;}
p{padding-bottom:18px;}
a{color:#E4814B;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#323232;font-family: 'Open Sans', sans-serif; text-transform:uppercase; margin-bottom:26px;letter-spacing:1px}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;} 
h4{font-size:22px;}  
h5{font-size:20px;}
h6{font-size:18px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.main {
	padding:0;
	position:relative;
	margin:0 auto;
}

.last1 {
	margin-bottom:0 !important;
}

.last2 {
	padding-bottom:0 !important;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px !important;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}


.logo {
	display:block; 

}

.logo img {
	max-width: 100%;
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
	background:#fff;
}

header h1 {
	padding:38px 0 0;
	margin:0 0 0 -1px;
	font-size:0;
	line-height:0;
}


.head-box1 {
    color: #B8B8B8;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding-top: 55px;
    text-transform: uppercase;
}

.p6 {padding-top:26px !important;}

.head-box2 {
	overflow:hidden;
	padding-top:39px;
}
.text1 {
	display:block;
	color:#d54e40;
	font-size:24px;
	font-weight:bold;
	white-space:nowrap;
	line-height:29px;
}

.text2 {
	display:inline-block;
	 color: #B8B8B8;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
}

.link1 {
	color:#222222;
	transition: all 0.4s ease 0s;
	font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
}

.link1:hover {
	color:#D54E40;
	text-decoration:none;
}

.head-line {
	margin:19px auto 0;
	background:#d54e40;
	height:3px;
}

/*** MENU ***/


/********************** Content ************************/

#content {
	width:100%; 
	padding:48px 0 41px;
	background:#fff;
	position:relative;
	z-index:1;
}

.p14 {
	padding:6px 0 39px !important;
}

																									/***** Page 1 *****/

.page1-box1 {
	overflow:hidden;
	border-bottom:3px solid #d96c31;
	background:#e4814b;
}

.inner1 {
    border-right: 1px solid #D96C31;
    color: #FFFFFF;
    float: left;
    padding: 38px 15px 30px 37px;
    transition: background 0.4s ease 0s;
    width: 188px;
}

.inner1:hover {
	background:#d96c31;
}



.link2 {
	text-decoration:underline;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
}

.link2:hover {
	text-decoration:none;
}

.link3 {
	text-decoration:underline;
	color:#e4814b;
	text-transform:uppercase;
	font-weight:bold;
	transition: all 0.4s ease 0s;
	font-size:12px;
	line-height:15px;
	font-family: 'Open Sans', sans-serif;
}

.link3:hover {
	color:#b2b2b2;
}

.text3 {
	color:#fff;
	font-size:19px;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	display:block;
	text-transform:uppercase;
	margin-bottom:18px;
}

.inner1 p {
	padding-bottom:14px;
}

.last4 {
	border:none !important;
	width:175px;
}

.p9 {
	line-height:24px;
}

.p10 {
	color:#e4814b;
}

.p11 {
	margin-bottom:46px;
}

.text4 {
	margin-bottom:14px;
	display:block;
	color:#323232;
}


.page1-img1 {
    padding: 6px 0 4px;
}


.p12 {
    display: inline-block;
    margin-top: 17px;
}

.text5 {
    color: #D54E40;
    display: block;
    font-size: 18px;
    font-weight: bold;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
}

.text7 {
    color: #323232;
    font-size: 12px;
	float:left;
	display:block;
    line-height: 23px;
}

.page1-box2 {
	overflow:hidden;
	margin-bottom:23px;
}

.p36 {line-height:18px;}

.list1 a {
	color:#e4814b;
	font-size:13px;
	font-weight:bold;
	transition: all 0.4s ease 0s;
	line-height:18px;
}


.p33 {
    padding-bottom: 16px;
}

.list1 a:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.link4 {color:#d54e40;}


.list1 li {
    background: url("../images/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 15px;
}


.banner1 span {
    color: #323232;
    display: block;
    font-family: 'Covered By Your Grace',cursive;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 5px;
}

.banner1 {
    border: 1px solid #DADADA;
    margin-top: 26px;
    padding: 16px 0 21px 21px;
}

.banner1 strong {
    color: #E4814B;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: uppercase;
}


.banner1 i {
    color: #E4814B;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
}

																									/***** Page 2 *****/


.page2-img1 {
    margin-bottom: 21px;
    padding-top: 2px;
}


.text6 {
    color: #323232;
}

.p15 {
	margin-bottom:24px;
}


.p16 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 33px;
}

.p17 {
	margin-bottom:22px;
}

.p18 {
	margin-bottom:4px;
}

.page2-box1 {
	overflow:hidden;
	margin-bottom:24px;
}
#newsletter .success {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    color: #333333;
    display: none;
    left: 0;
    padding: 7px 0 7px 4px;
    position: absolute;
    top: 4px;
    width: 224px;
    z-index: 10;
}

#newsletter label.invalid .error {
    height: 19px;
}
#newsletter .error {
    color: #FF0000;
    display: block;
    font-size: 10px;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 35px;
    transition: all 0.3s ease-out 0s;
}


#newsletter input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #DADADA;
    box-shadow: none;
    color: #B2B2B2;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 0 21px;
    outline: medium none;
    padding: 6px 12px 8px;
    width: 204px;
}

#newsletter {
	padding-top:4px;
	position:relative;
}
																									/***** Page 3 *****/

.p20 {
    padding: 3px 0 41px !important;
}


.p21 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 24px;
}


.p22 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 33px;
    padding-bottom: 10px;
}

.p23 {
	padding-top:2px;
}


.page3-img1 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.p24 {
	padding-right:32px;
}


.page3-img2 {
    float: left;
    margin-bottom: 22px;
    margin-right: 20px;
    padding-top: 3px;
}

.page3-box1 {
	overflow:hidden;
	margin-bottom:10px;
}

.page3-img3 {
	padding-top:3px;
	margin-bottom:22px;
}

																									/***** Page 4 *****/


.page4-img1 {
    margin-bottom: 22px;
}

.p25 {
	margin-top:-3px;
	margin-bottom:24px;
}


.p26 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 33px;
}


.page4-img2 {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.link5 {
    color: #D54E40;
    font-size: 18px;
    font-weight: bold;
	transition: all 0.4s ease 0s;
    letter-spacing: 2px;
    line-height: 19px;
    text-transform: uppercase;
}

.link5:hover {
	color:#b2b2b2;
	text-decoration:none;
}

.page4-box1 {
	overflow:hidden;
	margin-bottom:28px;
}

.p27 {
	margin-bottom:21px;
}


.p28 {
	margin-bottom:20px;
	margin-top:-3px;
}


.p29 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 25px;
}

.p30 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 35px;
}


.p32 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 31px;
    padding-bottom: 35px;
}
																									/***** Page 5 *****/

																									
	.page5-img1 {
	float:left;
	padding-top:4px;
	margin-right:20px;
}


.p34 {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
    padding-bottom: 27px;
}
																								
.page6-img1 {
	margin-bottom:26px;
}

.rel {
	position: relative;
}
	
/******************** Footer ******************/
footer {
	width:100%; 
	background:#f6f6f6;
	border-top:3px solid #eaeaea;
	padding:30px 0 30px;
}

.list2 a {
	color:#e4814b;
	transition: all 0.4s ease 0s;
	font-size:13px;
}

.list2 a:hover {
	color:#b2b2b2;
	text-decoration:none;
}
.list2 {
	padding-top:9px;
}


.list2 li {
    background: url("../images/marker1.png") no-repeat scroll 0 5px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 13px;
}

.foot-page1 {
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	
	font-family: 'Open Sans', sans-serif;
	color:#b2b2b2;
}
.foot-page1 a {
	color:#b2b2b2;
	transition: all 0.4s ease 0s;
}
.foot-page1 a:hover {
	color:#D54E40;
	text-decoration:none;
}


#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:180px;
	left: 50%;
	margin-left: 550px;
	overflow:hidden;
	width:41px;
	height: 21px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../images/ui.totop.png) no-repeat left top;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
#toTop:hover {
	outline:none;
	background-position: 0 bottom;
}

.ff_right {
	float: right !important;  
}

figure iframe {
	height: 302px;
}
@media only screen and (max-width: 1024px) {


.camera_prev, .camera_next {
	top: 200px;

}

}
/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
 body {
min-width:768px;
}

.head-box2 .text1 {
	font-size: 18px;
	line-height: 20px;
}

.inner1 {
	width: 18%;
}


#newsletter input {
	width: 156px;
}

.banner1 i {
	font-size: 16px;
	letter-spacing: 0;
}


 .map figure, .map figure iframe, #form input, #form textarea, #form .success {
 width: 100% !important;
 float: none;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}

.extra_wrapper {
	overflow: visible ;
}



.figure-1, img {
	max-width: 100%;
	display: inline-block;
}

.page5-img1 {
	margin-bottom: 20px;
	float: none;
	margin-right: 0;
}

.link-bot {
	width: 25%;
}



.p6 {
	background-position: right 0;
	padding-bottom: 43px;
}

.slider_wrapper>div {

	left: 50% !important;
	margin-left: -384px !important;
	width: 768px !important;
	height: 300px;
	overflow: hidden;
}

body .slider_wrapper {
	height: 370px !important;
}


figure iframe {
	width: 100%;
}


.slider_wrapper  {
	height: 437px !important;
}

#form .btns {
	padding-right: 7px !important;
}

.btns .button1 {
	font-size: 12px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.camera_pag  {
    bottom: 20px !important;
    height: 22px;
    left: 50%;
    margin-left: -38px;
    right: auto !important;
    z-index: 60;
}

.banner {
	top: 100px !important;
}

.p7, .p8 {
	left: 20px !important;
}

.page5-img1 {
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

.page5-img1+.extra-wrap {
	overflow: visible;
}


}
 @media only screen and (max-width: 767px) {
 body {
min-width:420px;
}


.page5-img1 {
	float: none;
	margin-right: 0px;
	margin-bottom: 15px;
}

#newsletter input {
	width: 394px;
}

.page3-img1, .page3-img1 img, .page4-img2, .page4-img2 img {
	width: auto !important;
	margin-bottom: 5px;
}

h3 {
	padding-top: 25px;
}

header h1 a {
	margin: 0 auto;
}

.inner1 {
	width: auto;
	float: none;
}

.banner  {
	display: none !important;
}

.foot-img, .foot-img img {
	padding-top: 10px;
	width: auto !important;
}

.page1-img1, .page1-img1 img {
	width: auto !important;
	display: inline-block;
}

.link3.p12 {
	clear: both;
}

.maxheight1 .page1-img2 {
    float: left !important;
    margin-right: 14px !important;
    margin-top: 2px;
    width: auto !important;
}

.page5-img2 {
	width: auto !important;
}

.slider_wrapper  {
	background-color: #fff !important;
}

.icons .button2 {
	margin-bottom: 25px;
}

	.page2-img1, .page3-img2 {
		float:  none;
		margin-right: 0 ;
		margin-bottom: 20px;
		display: block;
	}


.p14 {
	margin-bottom: 0;
}

figure  img {
	width: 100%;
}

.page2-img3 {
	display: block ;
}

.page2-img3 img, .page3-img2 img {
	width: 100%;
}


.p6  {
	background: none;
}


.page1-box2 {
	margin-right: 0;
	margin-bottom: 20px;
	float: none;
	width: auto;
	}

h2 {
	padding-top: 30px;
}

.page1-img2 {
	float: none;
	display: block;margin-right: 0 !important;
}

.page1-img2 img {
	width: 100%;
	margin-right: 0;
}

.page1-img2.last1 {
	margin-bottom: 18px !important;
}

.link-bot {
	width: 100%;
	float: none;
}

.link-bot img {
	width: 100%;

}


.map address  {
	float: none;
	margin-right: 0px;
}


header {
	background-position: center 100px;
	position: relative;
}
header h1 {
	float: none;
	top: 0;
	padding-left: 0;
	padding-bottom: 0;
}

header h1 .logo {
	margin: 0 auto;
	height: auto;
	width: 231px !important;
}

.head-box2 {
	padding-top: 0;
}


.map figure iframe {
	width: 100%;
	height: 300px;
}

#search1 {
	margin-right: 0;
	float: none;
}

#search1 input {
	width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.map address {
	float: none;
	margin-right: 0;
}

.content .noresize {
	width: auto !important;
	float: left !important;
	margin-right: 20px !important;
}


.pad_none {
	padding-bottom: 0 !important;
}
.foot-menu {
	float: left;
	padding-bottom: 20px;
}
.foot-menu li {
	margin-left: 10px;
	padding-left: 10px;
}

.foot-menu li.last3 {
	margin-left: 0;
}

figure {
	width: 100%;
}

a.various  {
	display: block;
}

a.various img {
	width: 100%;
}

.wrapper.p19 {
	margin-bottom: 0;
}

.prod .text5 {
	margin-bottom: 30px;
}
.link3.p12 {
	display: block;
	margin-bottom: 15px;
}

.head-box1 {
	padding-top: 30px;
}

.head-box1.p6 {
	padding-top: 10px !important;
	padding-bottom: 13px;
}


}

 @media only screen and (max-width: 479px) {
#newsletter input {
	width: 274px;
}

.foot-menu li {
	margin-left: 10px;
	padding-left: 0px;
	background: none;
}

.foot-menu li  a {
	font-size: 11px !important;

}


footer .fright {
	float: left;
	padding-top: 10px;
}
body {
min-width:300px;
}

}
