.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}

nav {
	position:absolute;
	top:-54px;
	right: 0;
	left: 0;
	z-index:99;
	background:url(../images/menu-bg.png) repeat 0 0 ;
}

.p13 {
	position:relative !important;
	top:0 !important;
	margin-top:2px;
}

.p13 .sf-menu li {
	padding-bottom:2px;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	width:158px;
	text-align:center;
	position:		relative;
	padding-bottom:3px;
}
.sf-menu a {
	display:		block;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	padding:20px 0;
	transition: all 0.4s ease 0s;
	position:		relative;
}

.sf-menu a:hover,
.sf-menu a.active,
.sf-menu li.sfHover > a {
	background:#d54e40;
	text-decoration:none;
}

.sf-menu ul a:hover,
.sf-menu ul li.sfHover > a {
	background:#e4814b;
}

.sf-menu ul ul a:hover,
.sf-menu ul ul li.sfHover > a {
	background:#cd4536;
}


.last3 {
	width:160px !important;
}
.sf-menu ul {
    background: none repeat scroll 0 0 #D54E40;
	padding:27px 0 28px;
    position: absolute;
    top: -999em;
    width: 266px;
}

.sf-menu ul ul {
	position:relative;
	padding:0;
}

.sf-menu>li>.sf-with-ul>span {
	display: block;
	position: absolute;
	background: url(../images/arrows.png) 0 bottom no-repeat;
	width: 7px;
	height: 5px;
	left: 50%;
	margin-left: -4px;
	bottom: 8px;
}

.sf-menu>li>ul>li>.sf-with-ul>span {
	display: block;
	position: absolute;
	background: url(../images/arrows.png) 0 bottom no-repeat;
	width: 7px;
	height: 5px;
	right: 15px;
	bottom: 8px;
}

.sf-menu ul li {
	width:			100%;
	text-align:left;
}
.sf-menu ul a {
	padding:3px 0 3px 32px;
}
.sf-menu ul ul a {
	padding:3px 0 3px 44px;
	color:#ffb070;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.nav>ul>li>ul>li>ul {
	margin-top: 0 !important;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	margin-left: 6px;
	margin-top: 57px;
    top: 0px; /* match top ul list item height */
	z-index:		99;
}

.sf-menu li.sfHover ul>li>ul {
	margin-left: 0px;
	margin-top: 0px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 0;
    top: 4px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
	top: 0 !important;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;

}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
.sf-menu>li {
	width: auto !important;
}



a.last3 {
	width: auto !important;
}

.horizontal-nav>nav {
	display: none !important;
}


}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 0px !important;	
		padding: 20px 10px 20px;
		clear: both;
		left: 0;
		right: 0;
	}

.foot-img {
	display: block;
}


  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		background: none;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #B8B8B8;
			font-weight: bold;
			
		}
	.sf-menu{display:none !important; float: none;}
	#mm0{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #D54E40;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
