{% load pages_tags %}

<ul {% if branch_level == 0 %}class="sf-menu"{% endif %}>
    {% for page in page_branch %}
        {% if not has_home and page.is_primary and forloop.first %}
            <li>
                <a {% if on_home %} class="active"{% endif %} href="{% url "home" %}">Home</a>
            </li>
        {% endif %}
        {% if page.in_menu %}
            <li>
                <a {% if page.is_current_or_ascendant %}class="active"{% endif %} href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                {% if page.has_children %}
                    {% page_menu page %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

