{% extends "pages/page.html" %}
{% load mezzanine_tags %} {% block main %} {{ block.super }}
<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_12">
                {% if not request.GET.sent %}
                <h3 class="p27">{{ page.title }}</h3> {% errors_for form %}
                <form class="mezzanine-form" method="post" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
                    {% fields_for form %}
                    <div class="form-actions">
                        <button class="button-as-link" type="reset" value="">CLEAR</button>
                        <button class="button-as-link" type="submit" value="">SEND</button>
                    </div>
                </form>
                {% endif %}
            </article>
            <article class="grid_12">
                {% if request.GET.sent %} {% editable page.form.response %} {{ page.form.response|richtext_filters|safe }} {% endeditable %} {% else %} {% with page.form as page_form %} {% editable page_form.content %} {{ page_form.content|richtext_filters|safe }} {% endeditable %} {% endwith %} {% endif %}
            </article>
        </div>
    </div>
</section>
{% endblock %}
